@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "YanoneKaffeesatz";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff"), url("/fonts/YanoneKaffeesatz-Regular.ttf") format("truetype");
}
*{
    margin: 0;
    font-family: 'Raleway';
    
}
body{
    position: relative;
}



header{
    min-height: 50px;
    height: 9vh;
    width: 100%;
    background-color: #EBEEF1;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
a{
    text-decoration: none;
    outline: none;
}
h1{
   
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 span{
    margin-right: 3px;
}
h1 span:first-child{
    font-size: 0.7em;
    
}
h1 span:nth-child(2){
    font-family: 'YanoneKaffeesatz';
}
.head-sec{
    width: 40%;
    min-width: 105px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log{
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin: 0px;
    border: 0;
    border-radius: 10px;
    background: #D5D6D7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    cursor: pointer;
}
.log img{
    width: 100%;
}
.log:hover{
    cursor: pointer;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}
.user{
    width: auto;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 7%;
    border-radius: 40px;
    
}
.user:hover{
    cursor: pointer;
    -webkit-box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
}
.sub-list{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: white;
    border: 5px solid transparent;
    border-radius: 5px;
    top: 100%;
    left: -80px;
    -webkit-box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 44px -11px rgba(0,0,0,0.75);
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
    
    
}
.user .sub-list{
    left: -10px;
}


.sub-list-li-edit{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.sub-list input:hover{
    background-color: #103751;
    color: white;
}
.user:focus{
    outline: none;
}
.user:focus ul {
    display: flex;
    
}

.user img{
    width: 25px;
    margin: 5px;
}
h5{
    margin-right: 25px;
}
.user h5::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 16px;
    
}
.lang{
    width: 30px;
    height: 30px;
    margin: 0px;
    border: 0;
    border-radius: 10px;
    background: #D5D6D7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lang img{
    width: 20px;
}
.lang:hover{
    cursor: pointer;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
}

.lang:focus{
    outline: none;
}
.lang:hover .sub-list{
    display: flex;
}



.menu-lang{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
}
.menu-lang input{
    border-radius: 3px;
    padding: 3%;
    width: 100%;
    border: none;
    background-color: transparent;
}














aside{
    height: 91vh;
    width: 20%;;
    background-color: #103751;
    top: 9vh;
    position: fixed;
    min-width: 120px;
}
aside ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0px;
}
aside ul li{
    padding: 20px 0px 20px 0px;
    color: whitesmoke;
    padding-left: 30px;
    position: relative;
    font-weight: bold;
    transition: 0.2s all ease-in;

}
aside ul li::after{
    content: ''; 
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
    opacity: 0.4;
    border-radius: 1px; 
    transform: translateX(-100%);
    transition: 0.2s all ease-in-out;
}

aside ul li:hover::after{
    transform: translateX(0%);
}

aside ul li:hover {
    background-color: #2C4C62; 
}




.sub{
    opacity: 0.9;
    display: none;
    background-color: whitesmoke;
    position: absolute;
    width: 300px;
    top: 0px;
    left: 100%;
    z-index: 4;
    border-radius: 1px;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    transition: 0.2s all ease-in;
}
.sub li{
    color: black;
    font-weight: bold;
}
.sub li::after{
    display: none;
}
.sub li:focus{
    color: white;
}


aside ul li:focus{
    outline: none;
}
aside ul li:focus .sub{
    display: block;
}

.show{
    display: block;
}


section{
    min-width: 80%;
    min-height: 91vh;
    position: absolute;
    left: 20%;
    top: 9vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}


.blog{
    width: 60%;
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    -webkit-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
}

.blog h2{
    padding: 20px;
}
.blog-img{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-image: url('../imgs/uni.jpeg');
    background-position: center;
}
.blog p{
    padding: 35px;
}
.blog a{
    background-color: #103751;
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}


.form{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 465px;
    padding: 1%;
    -webkit-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
}
h3{
    font-size: 30px;
    padding: 10px;
    color: #5e9bfc;
}
.form-basic{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form-group{
    padding: 10px;
    /*min-width: 185px;*/
    
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 18%;
    padding-left: 18%;
}
.form-group select{
    width: 80px;
}
.form-label {
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
    font-size: 19px;
    padding: 5px 0px 5px 0px;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
    box-shadow: none;
    /*width: 200px;*/
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    outline: none;

}
.form-group::after{
    content: '';
    color: red;
    font-size: 12px;
    position: absolute;
    top: 90%;
    opacity: 0;
}
.form-basic .form-group:nth-child(1){
    /*min-width: 195px;*/
}
.form-basic .form-group:nth-child(2){
    /*min-width: 100px;*/
    width: 100px
}
.form-basic .form-group:nth-child(4){
    /*min-width: 110px;*/
    width: 110px;
}
.form-basic .form-group:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-basic .form-group:nth-child(6){
    /*min-width: 390px;*/
}
.form-basic .form-group:nth-child(7){
   /* min-width: 195px;*/
}
.form-basic .form-group:nth-child(8){
    /*min-width: 390px;*/
}
.form-basic .form-group:nth-child(9){
    /*min-width: 150px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-basic .form-group:nth-child(9) .form-control{
    /*width: 90px;*/
    
}

.show-alert{
    opacity: 1;
}


.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.boton-grup{
    display: flex;
 
    justify-content: center;
    align-items: center;
}
.boton-env{
    min-width: 100px;
    min-height: 30px;
    background-color: transparent;
    border: 1px solid #5e9bfc;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 13px;
}
.boton-env:hover{
    background-color: #5e9bfc;
    color: white;
}
.boton-env img{
    width: 25px;
}



.showall{
    margin: 20px 5px 20px 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
}
.form-basic-start{
    align-items: flex-start;
}
.showall-action{
    background-color: transparent;
    border: none;
}
.showall img{
    width: 30px;
}
.showall-tab{
    text-align: center;
}
.showall-tab img{
    width: 20px;
}
.showall-tab tr:nth-child(2n){
    background-color: whitesmoke;
}


h4{
    color: #5e9bfc;
}
.form2{
    margin: 20px;
    padding: 40px;
    -webkit-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    box-shadow: -2px 10px 86px -31px rgba(0,0,0,0.75);
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form2 ul{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
}
.form2 ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form2 ul li h5 {
    margin-right: 15px;
    color: #5e9bfc;
}
body{
    position: relative;
}
footer{
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #103751;
    margin-top: 30px;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h6{
    color: white;
    font-size: 16px;
    margin-left: 50px;
}



.menu-dev{
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    left: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.menu-dev img{
    width: 100%;
}
.menu-dev a{
    text-decoration: none;
    color: white;

}

.resp-menu-close{
    height: 50px;
    display: none;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.resp-menu-close img{
    width: 20px;
    margin-right: 10%;
}


@media (max-width : 620px){
    .form{
        align-self: flex-start;
    }
    .form2{
        align-self: flex-start;
    }
    section{
        left: 120px;
    }
    
}
@media (max-width : 945px){
    /*.resp-menu-close{
        display: flex;
    }*/
    .user{
        width: 35px;
    }
    .user h5{
       display: none;
    }
    .user .sub-list{
        left: -95px;
    }
    aside{
       /* z-index: 7;
        min-width: 180px;
        top: 0px;
        height: 100vh;
        display: none;*/
    }
    .show-aside{
        display: inline;
    }
    
    /*section{
        width: 100%;
        left: 0%;
        margin: auto;
    }*/
    /*.menu-dev{
        display: flex;
      
    }*/
    .showall{
        align-self: flex-start;
    }
}



/**

Forms 2

*/

